<link href="~/css/simplemde.min.css" rel="stylesheet" />
<script src="~/js/simplemde.min.js"></script>
<script src="~/js/ace/ace.js"></script>
<script src="~/js/ace/theme-twilight.js"></script>
<script src="~/js/ace/ext-language_tools.js"></script>
<script src="~/js/ace/mode-javascript.js"></script>
<script src="~/js/jquery.fileupload.js"></script>
<script src="~/js/kyubey-onboard.js"></script>

<form asp-action="Manage" method="get" class="container" style="margin-top: 80px">
    <div class="col-md-6 col-md-offset-3">
        <div class="card">
            <label>
                Symbol
                <input type="text" class="form-control" name="id" value="@ViewBag.Symbol" disabled />
            </label>

            <label>
                Password
                <input type="password" class="form-control" name="password" />
            </label>

            <input type="submit" value="Log in" class="btn btn-primary" />
        </div>
    </div>
</form>
<script>
    $('#formOnboard').submit(function () {
        $('#scatterCode').val($('#txtScatterCode')[0].editor.getValue());
    });
</script>