@model Currency
<link href="~/css/simplemde.min.css" rel="stylesheet" />
<script src="~/js/simplemde.min.js"></script>
<script src="~/js/ace/ace.js"></script>
<script src="~/js/ace/theme-twilight.js"></script>
<script src="~/js/ace/ext-language_tools.js"></script>
<script src="~/js/ace/mode-javascript.js"></script>
<script src="~/js/jquery.fileupload.js"></script>
<script src="~/js/kyubey-onboard.js"></script>

<form id="formOnboard" method="post" class="container" style="margin-top: 80px" enctype="multipart/form-data">
    <div class="card col-md-12">
        <label>
            <span class="required">*</span> Symbol
            <input type="text" class="form-control" name="id" value="@Model.Id" disabled />
        </label>

        <label>
            Friendly Name
            <input type="text" class="form-control" asp-for="Name" />
        </label>

        <label>
            Website
            <input type="text" class="form-control" asp-for="WebUrl" />
        </label>

        <label>
            GitHub
            <input type="text" class="form-control" asp-for="GitHub" />
        </label>

        <label>
            Email
            <input type="text" class="form-control" asp-for="Email" />
        </label>

        <label>
            <span class="required">*</span> Contract account
            <input type="text" class="form-control" asp-for="Contract" />
        </label>

        <label>
            <span class="required">*</span> Bancor table
            <input type="text" class="form-control" asp-for="BancorTableName" />
        </label>

        <label>
            <span class="required">*</span> Balance field
            <input type="text" class="form-control" asp-for="BalancePath" />
        </label>

        <label>
            <span class="required">*</span> Supply field
            <input type="text" class="form-control" asp-for="SupplyPath" />
        </label>

        <label>
            Token description
            <textarea id="txtDescription" class="markdown-textbox" asp-for="Description"></textarea>
        </label>

        <label>
            <span class="required">*</span> Transaction javascript
            <pre style="height: 300px" id="txtScatterCode">@Model.ScatterCode</pre>
            <input type="hidden" name="scatterCode" id="scatterCode" />
        </label>

        <label>
            Icon
            <input type="file" name="file" class="form-control" />
            <img src="/currency/@Model.Id/icon" />
        </label>

        <input type="submit" value="Modify" class="btn btn-primary" />
    </div>
</form>
<script>
    $('#formOnboard').submit(function () {
        $('#scatterCode').val($('#txtScatterCode')[0].editor.getValue());
    });
</script>