<head>
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/banner.css" />

</head>
<div class="banner">
    <div id="demo" class="carousel slide" data-ride="carousel">
        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>
        <div class="carousel-inner">
            <div class="carousel-item active" style="background: url(/img/banners/incubator/bg.png)">
                <div class="carousel-caption">
                    <img src="~/img/banners/incubator/front.@(ViewBag.Culture).png" class="img-xys" />
                </div>
            </div>
            <div class="carousel-item" style="background: url(/img/banners/dex/bg.png)">
                <div class="carousel-caption">
                    <img src="~/img/banners/dex/front.@(ViewBag.Culture).png" class="img-xys" />
                </div>
            </div>
            <div class="carousel-item" style="background: url(/img/banners/cryptomeetup/bg.png)">
                <div class="carousel-caption">
                    <img src="~/img/banners/cryptomeetup/front.@(ViewBag.Culture).png" class="img-xys" />
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
            <span class="carousel-control-next-icon"></span>
        </a>
    </div>
</div>
@*<section style="text-align: center">
        <form method="get" class="token-search">
            <input type="text" name="token" value="@ViewBag.SearchToken" class="token-search-textbox" placeholder="@SR["Token"]" /><input type="submit" value="@SR["Search"]" class="token-search-button" />
        </form>
    </section>*@