@{ 
    ViewBag.Title = SR["Home"];
    ViewBag.Current = "home";
}
<h1>Give the Power<br />Back to Users</h1>
<div class="download-outer">
    <div>
        <a class="btn-download" href="KBY.pdf" target="_blank">@SR["White Paper"]</a>
    </div>
</div>