@{
    ViewBag.Title = SR["Dashboard"];
    ViewBag.Current = "home";
}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">@SR["Dashboard"]</h1>
</div>

<canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas>
<script src="~/scripts/chart.min.js"></script>
<script>
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: {
          labels: @(new HtmlString(ViewBag.Labels)),
          datasets: [{
            data: @(new HtmlString(ViewBag.Values)),
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 4,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                  beginAtZero: false
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
</script>