@model Token
@{
    Otc otc = ViewBag.Otc;
    Bancor bancor = ViewBag.Bancor;
}

<header class="brand-header masthead text-center text-white"></header>

<section class="brand-section" style="margin-bottom:0;">
    <div class="container brand">
        <img src="/token/@(@Model.Id).png" class="brand-icon" />
        <div class="brand-wording">
            <div class="brand-name">@Model.Id</div>
            <div class="brand-description">@Html.Marked(Model.Description)</div>
        </div>

    </div>
</section>

